{% set months=['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'] %}
<div class="d-grid gap-2 d-md-block ">
    <button class="btn btn-primary float-start"
            type="button"
            onclick="location.href = '/?day={{ wi[0]["day"] }}-{{ wi[0]["month"] }}-{{ wi[0]["year"] }}&offset=-7';">
        Previous Week
    </button>
    <button class="btn btn-primary float-center"
            type="button"
            onclick="location.href = '/?day=today'">
        Jump back today : {{ today.day }} {{ months[today.month-1] }} {{ wi[today.weekday()]["weekday"] }} {{ wi[0]["year"] }}
    </button>
    <button class="btn btn-primary float-end"
            type="button"
            onclick="location.href = '/?day={{ wi[0]["day"] }}-{{ wi[0]["month"] }}-{{ wi[0]["year"] }}&offset=7';">
        NEXT Week
    </button>
</div>
<div class="overflow-scroll" style="height: 650px;">
    <table class="table table-sm">
        <thead class="sticky-top table-dark">
            <tr>
                <th class="th-sm" scope="col">Time</th>
                {% for day in wi %}<th scope="col">{{ day["weekday"] }}-{{ day["day"] }}</th>{% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for hour in hours %}
                <tr>
                    <th scope="row">{{ hour }}</th>
                    {% for day in wi %}
                        {% if event_mat %}
                            <td class="{{ event_mat[hour][day.weekday]["color"] }}  bg-opacity-75"
                                scope="col">
                                {% for event in event_mat[hour][day.weekday]["event_list"] %}
                                    <div>
                                        {% if event["creator"] == claims %}
                                        <a class="text-black"
                                           id="click_to_edit_{{ event["name"] }}"
                                           href="#"
                                           onclick="makeAllInvisExcept('sa_{{ event["name"] }}'); return false;">
                                            {% if event["vis"] == "true" %}{{ event["name"] }}{% endif %}
                                        </a>
                                        {% else %}
                                        <a class="text-black"
                                           id="click_to_edit_shared_{{ event["name"] }}"
                                           href="#"
                                           onclick="makeAllInvisExcept('sa_shared_{{ event["name"] }}'); return false;">
                                            {% if event["vis"] == "true" %}{{ event["name"] }}{% endif %}
                                        </a>                                        
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </td>
                        {% else %}
                            <td scope="col">
                                <div></div>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="float-center text-primary-emphasis bg-primary-subtle">
    Viewing: {{ dominant_month }} - {{ wi[0]["year"] }}
</div>