{% if not is_logged_in %}
    <div class="container" aria-hidden="true">
        <p> This is a website to manage you time with calendars, it has a lot of features. </p>
        <p> You'll have to pay if you want to hack this site by using any route out of reachable routes by UI :) </p>
        <p>Please login to get the most of features!</p>
    </div>
{% else %}
    <div class="container-fluid" aria-hidden="true">
        <div class="container-fluid pb-3">
            <div class="d-grid gap-4" style="grid-template-columns: 1fr 1fr 2fr;">
                <div class="bg-light border rounded-3">{% include "cal_list.html" %}</div>
                <div class="bg-light border rounded-3">
                    {% include "add_calendar.html"%}
                    {% include "edit_calendar.html"%}
                    {% include "add_event.html"%}
                    {% include "edit_event.html"%}
                </div>
                <div class="bg-light border rounded-3">{% include "calendar.html" %}</div>
            </div>
        </div>
    </div>
{% endif %}
